## Import libraries and load data

In [44]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.ensemble import RandomForestRegressor
from sklearn.impute import SimpleImputer
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.linear_model import LogisticRegression
import joblib
dataset = pd.read_csv('Salary_Data.csv')
# load dataset
dataset

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0
...,...,...,...,...,...,...
6699,49.0,Female,PhD,Director of Marketing,20.0,200000.0
6700,32.0,Male,High School,Sales Associate,3.0,50000.0
6701,30.0,Female,Bachelor's Degree,Financial Manager,4.0,55000.0
6702,46.0,Male,Master's Degree,Marketing Manager,14.0,140000.0
6703,26.0,Female,High School,Sales Executive,1.0,35000.0

## Check null values in each column

In [45]:
dataset.isnull().sum()

Age                    2
Gender                 2
Education Level        3
Job Title              2
Years of Experience    3
Salary                 5
dtype: int64

## Fill the null values

In [46]:
# Handling missing values
dataset['Age'].fillna(dataset['Age'].mean(), inplace=True)
dataset['Gender'].fillna(dataset['Gender'].mode()[0], inplace=True)
dataset['Education Level'].fillna('Unknown', inplace=True) 
dataset['Job Title'].fillna('Unknown', inplace=True)
dataset['Years of Experience'].fillna(dataset['Years of Experience'].mean(), inplace=True)
dataset['Salary'].fillna(dataset['Salary'].mean(), inplace=True)

## Check null values in each column again

In [47]:
dataset.isnull().sum()

Age                    0
Gender                 0
Education Level        0
Job Title              0
Years of Experience    0
Salary                 0
dtype: int64

## Shape dataset

In [48]:
dataset.shape

(6704, 6)

## Apply Label

In [49]:
# Dictionaries to store mappings
gender_mapping = {}
education_mapping = {}
job_title_mapping = {}

# Creating a LabelEncoder object
lb_make = LabelEncoder()

# List of categorical columns to be transformed
categorical_cols = ["Gender", "Education Level", "Job Title"]

# Applying LabelEncoder on train data
for col in categorical_cols:
    dataset[col] = lb_make.fit_transform(dataset[col])
    # Creating mapping dictionaries
    mapping = dict(zip(lb_make.classes_, lb_make.transform(lb_make.classes_)))

    # Assigning the mapping to respective dictionaries
    if col == "Gender":
        gender_mapping = mapping
    elif col == "Education Level":
        education_mapping = mapping
    elif col == "Job Title":
        job_title_mapping = mapping

dataset

       Age  Gender  Education Level  Job Title  Years of Experience    Salary
0     32.0       1                0        177                  5.0   90000.0
1     28.0       0                3         18                  3.0   65000.0
2     45.0       1                5        145                 15.0  150000.0
3     36.0       0                0        116                  7.0   60000.0
4     52.0       1                3         26                 20.0  200000.0
...    ...     ...              ...        ...                  ...       ...
6699  49.0       0                5         34                 20.0  200000.0
6700  32.0       1                2        116                  3.0   50000.0
6701  30.0       0                1         42                  4.0   55000.0
6702  46.0       1                4         97                 14.0  140000.0
6703  26.0       0                2        118                  1.0   35000.0

[6704 rows x 6 columns]

In [28]:
gender_mapping

{'Female': 0, 'Male': 1, 'Other': 2}

In [29]:
education_mapping

{"Bachelor's": 0,
 "Bachelor's Degree": 1,
 'High School': 2,
 "Master's": 3,
 "Master's Degree": 4,
 'PhD': 5,
 'Unknown': 6,
 'phD': 7}

In [30]:
job_title_mapping

{'Account Manager': 0,
 'Accountant': 1,
 'Administrative Assistant': 2,
 'Back end Developer': 3,
 'Business Analyst': 4,
 'Business Development Manager': 5,
 'Business Intelligence Analyst': 6,
 'CEO': 7,
 'Chief Data Officer': 8,
 'Chief Technology Officer': 9,
 'Content Marketing Manager': 10,
 'Copywriter': 11,
 'Creative Director': 12,
 'Customer Service Manager': 13,
 'Customer Service Rep': 14,
 'Customer Service Representative': 15,
 'Customer Success Manager': 16,
 'Customer Success Rep': 17,
 'Data Analyst': 18,
 'Data Entry Clerk': 19,
 'Data Scientist': 20,
 'Delivery Driver': 21,
 'Developer': 22,
 'Digital Content Producer': 23,
 'Digital Marketing Manager': 24,
 'Digital Marketing Specialist': 25,
 'Director': 26,
 'Director of Business Development': 27,
 'Director of Data Science': 28,
 'Director of Engineering': 29,
 'Director of Finance': 30,
 'Director of HR': 31,
 'Director of Human Capital': 32,
 'Director of Human Resources': 33,
 'Director of Marketing': 34,
 'Director of Operations': 35,
 'Director of Product Management': 36,
 'Director of Sales': 37,
 'Director of Sales and Marketing': 38,
 'Event Coordinator': 39,
 'Financial Advisor': 40,
 'Financial Analyst': 41,
 'Financial Manager': 42,
 'Front End Developer': 43,
 'Front end Developer': 44,
 'Full Stack Engineer': 45,
 'Graphic Designer': 46,
 'HR Generalist': 47,
 'HR Manager': 48,
 'Help Desk Analyst': 49,
 'Human Resources Coordinator': 50,
 'Human Resources Director': 51,
 'Human Resources Manager': 52,
 'IT Manager': 53,
 'IT Support': 54,
 'IT Support Specialist': 55,
 'Junior Account Manager': 56,
 'Junior Accountant': 57,
 'Junior Advertising Coordinator': 58,
 'Junior Business Analyst': 59,
 'Junior Business Development Associate': 60,
 'Junior Business Operations Analyst': 61,
 'Junior Copywriter': 62,
 'Junior Customer Support Specialist': 63,
 'Junior Data Analyst': 64,
 'Junior Data Scientist': 65,
 'Junior Designer': 66,
 'Junior Developer': 67,
 'Junior Financial Advisor': 68,
 'Junior Financial Analyst': 69,
 'Junior HR Coordinator': 70,
 'Junior HR Generalist': 71,
 'Junior Marketing Analyst': 72,
 'Junior Marketing Coordinator': 73,
 'Junior Marketing Manager': 74,
 'Junior Marketing Specialist': 75,
 'Junior Operations Analyst': 76,
 'Junior Operations Coordinator': 77,
 'Junior Operations Manager': 78,
 'Junior Product Manager': 79,
 'Junior Project Manager': 80,
 'Junior Recruiter': 81,
 'Junior Research Scientist': 82,
 'Junior Sales Associate': 83,
 'Junior Sales Representative': 84,
 'Junior Social Media Manager': 85,
 'Junior Social Media Specialist': 86,
 'Junior Software Developer': 87,
 'Junior Software Engineer': 88,
 'Junior UX Designer': 89,
 'Junior Web Designer': 90,
 'Junior Web Developer': 91,
 'Juniour HR Coordinator': 92,
 'Juniour HR Generalist': 93,
 'Marketing Analyst': 94,
 'Marketing Coordinator': 95,
 'Marketing Director': 96,
 'Marketing Manager': 97,
 'Marketing Specialist': 98,
 'Network Engineer': 99,
 'Office Manager': 100,
 'Operations Analyst': 101,
 'Operations Director': 102,
 'Operations Manager': 103,
 'Principal Engineer': 104,
 'Principal Scientist': 105,
 'Product Designer': 106,
 'Product Manager': 107,
 'Product Marketing Manager': 108,
 'Project Engineer': 109,
 'Project Manager': 110,
 'Public Relations Manager': 111,
 'Receptionist': 112,
 'Recruiter': 113,
 'Research Director': 114,
 'Research Scientist': 115,
 'Sales Associate': 116,
 'Sales Director': 117,
 'Sales Executive': 118,
 'Sales Manager': 119,
 'Sales Operations Manager': 120,
 'Sales Representative': 121,
 'Senior Account Executive': 122,
 'Senior Account Manager': 123,
 'Senior Accountant': 124,
 'Senior Business Analyst': 125,
 'Senior Business Development Manager': 126,
 'Senior Consultant': 127,
 'Senior Data Analyst': 128,
 'Senior Data Engineer': 129,
 'Senior Data Scientist': 130,
 'Senior Engineer': 131,
 'Senior Financial Advisor': 132,
 'Senior Financial Analyst': 133,
 'Senior Financial Manager': 134,
 'Senior Graphic Designer': 135,
 'Senior HR Generalist': 136,
 'Senior HR Manager': 137,
 'Senior HR Specialist': 138,
 'Senior Human Resources Coordinator': 139,
 'Senior Human Resources Manager': 140,
 'Senior Human Resources Specialist': 141,
 'Senior IT Consultant': 142,
 'Senior IT Project Manager': 143,
 'Senior IT Support Specialist': 144,
 'Senior Manager': 145,
 'Senior Marketing Analyst': 146,
 'Senior Marketing Coordinator': 147,
 'Senior Marketing Director': 148,
 'Senior Marketing Manager': 149,
 'Senior Marketing Specialist': 150,
 'Senior Operations Analyst': 151,
 'Senior Operations Coordinator': 152,
 'Senior Operations Manager': 153,
 'Senior Product Designer': 154,
 'Senior Product Development Manager': 155,
 'Senior Product Manager': 156,
 'Senior Product Marketing Manager': 157,
 'Senior Project Coordinator': 158,
 'Senior Project Engineer': 159,
 'Senior Project Manager': 160,
 'Senior Quality Assurance Analyst': 161,
 'Senior Research Scientist': 162,
 'Senior Researcher': 163,
 'Senior Sales Manager': 164,
 'Senior Sales Representative': 165,
 'Senior Scientist': 166,
 'Senior Software Architect': 167,
 'Senior Software Developer': 168,
 'Senior Software Engineer': 169,
 'Senior Training Specialist': 170,
 'Senior UX Designer': 171,
 'Social M': 172,
 'Social Media Man': 173,
 'Social Media Manager': 174,
 'Social Media Specialist': 175,
 'Software Developer': 176,
 'Software Engineer': 177,
 'Software Engineer Manager': 178,
 'Software Manager': 179,
 'Software Project Manager': 180,
 'Strategy Consultant': 181,
 'Supply Chain Analyst': 182,
 'Supply Chain Manager': 183,
 'Technical Recruiter': 184,
 'Technical Support Specialist': 185,
 'Technical Writer': 186,
 'Training Specialist': 187,
 'UX Designer': 188,
 'UX Researcher': 189,
 'Unknown': 190,
 'VP of Finance': 191,
 'VP of Operations': 192,
 'Web Developer': 193}

In [31]:
# Apply StandardScaler to numerical features
numeric_features = ['Age', 'Years of Experience']
numeric_transformer = StandardScaler()

In [32]:
# Combine transformers using ColumnTransformer
ct = ColumnTransformer(
    transformers=[
        ('scaler', numeric_transformer, numeric_features)
    ], 
    remainder='passthrough'
)

## Define features (X) and target variable (y)

In [33]:
# Split the data into features (X) and target variable (y)
X = dataset[['Age', 'Gender', 'Education Level', 'Job Title', 'Years of Experience']]
y = dataset['Salary']

In [34]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [35]:
# Apply transformations to the training set
X_train = ct.fit_transform(X_train)

In [36]:
# Apply the same transformations to the test set
X_test = ct.transform(X_test)

In [37]:
# Initialize the model
model = RandomForestRegressor(random_state=0)

In [38]:
# Train the model
model.fit(X_train, y_train)

RandomForestRegressor(random_state=0)

In [39]:
# Make predictions on the test set
y_pred = model.predict(X_test)

In [40]:
# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
print(f'Mean Squared Error: {mse}')

Mean Squared Error: 64943748.932206094

In [41]:
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f'Mean Absolute Error: {mae}')
print(f'R-squared: {r2}')

Mean Absolute Error: 3120.8227296767195
R-squared: 0.9766046139072069

In [51]:
joblib.dump(model, '/Users/ruhuanliao/Fall 2023/AI/PredictProject/Archive/SalaryPrediction.pkl')

['/Users/ruhuanliao/Fall 2023/AI/PredictProject/Archive/SalaryPrediction.pkl']